# Python
venv/
*/venv/
__pycache__/
*.py[cod]
*$py.class
*.sqlite3

# Node / Next.js
node_modules/
*/node_modules/
.next/
*/.next/
*.log

# Environment variables
.env
.env.local
.env.production

# Certificates
nginx/certs/*.crt
nginx/certs/*.key

# IDE / OS
.vscode/
.idea/
.DS_Store